<div class="container">
    <!--<h1>{{titulo}}</h1> -->

<button class="btn btn-info" type="button" [routerLink]="['/empresas/form']"> Nueva Empresa </button>
<button class="btn btn-info" type="button" [routerLink]="['/vehiculos']"> Información de Vehiculo </button>
<button class="btn btn-info" type="button" [routerLink]="['/conductores']"> Información de Conductor </button>

<table ALIGN="center" class="table caption-top">
    <caption>Lista de Empresas</caption>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre empresa</th>
        <th scope="col">Tipo id empresa</th>
        <th scope="col">Dirección</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Departamento</th>
        <th scope="col">Pais</th>
        <th scope="col">Telefono</th>
        <th scope="col">Tipo id repre</th>
        <th scope="col">Id repre</th>
        <th scope="col">Nombre repre</th>
        <th scope="col">Dirección repre</th>
        <th scope="col">Ciudad repre</th>
        <th scope="col">Departamento repre</th>
        <th scope="col">Pais repre</th>
        <th scope="col">Telefono repre</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas">
        <th scope="row"> {{empresa.id_empresa}} </th>
        <td>{{ empresa.nombre_empresa }}</td>
        <td>{{ empresa.tipo_id_empresa }}</td>
        <td>{{ empresa.direccion }}</td>
        <td>{{ empresa.ciudad }}</td>
        <td>{{ empresa.departamente }}</td>
        <td>{{ empresa.pais }}</td>
        <td>{{ empresa.telefono }}</td>
        <td>{{ empresa.tipo_id_repre }}</td>
        <td>{{ empresa.id_repre }}</td>
        <td>{{ empresa.nombre_repre }}</td>
        <td>{{ empresa.direccion_repre }}</td>
        <td>{{ empresa.ciudad_repre }}</td>
        <td>{{ empresa.departamento_repre }}</td>
        <td>{{ empresa.pais_repre }}</td>
        <td>{{ empresa.telefono_repre }}</td>
        <td> <button type="button" name="button" class="btn btn-primary" [routerLink]="['/empresas/form',empresa.id_empresa]">Editar</button></td>
        <td><button class="btn btn-danger" (click)="delete(empresa)">Eliminar </button></td>
       
      </tr>      
    </tbody>
  </table>
</div>